<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a post</title>
</head>

<body>
    <form action="#" th:action="@{/posts/add}" th:object="${post}" method="post">
        <label for="title">Title</label><br>
        <input type="text" placeholder="Email" th:field="*{title}" /><br><br>
        <label for="content">Content:</label><br>
        <textarea th:field="*{content}" name="content" id="" cols="30" rows="10"></textarea> <br>
        <button type="submit">Add</button>
    </form>

</body>

</html>